<%- include('partials/header') %>

<div class="datatable-container">
    <div class="header-tools">
      <div class="tools">
        <ul>
            <li> <span> <input type="checkbox"></span></li>
            <li> <button> <i class = "material-icons">add_circle</i></button></li>
            <li> <button> <i class = "material-icons">edit</i></button></li>
            <li> <button> <i class = "material-icons">delete</i></button></li>
            <li> <button> <i class = "material-icons">share</i></button></li>
        </ul>
      </div>
       <div class="search">
          <input type="text"  class="search-input" >
       </div>

    </div>

    <table class="datatable">
        <thead>
           <tr>
            <th></th>
            <th>Status</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Date</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-checkbox"> <input type="checkbox"></td>
                <td><span class="available"></span></td>
                <td>Elon Musk</td>
                <td>CEO</td>
                <td>Silicon Valley</td>
                <td>48</td>
                <td>2020/05/01</td>

            </tr>
        </tbody>

    </table>

    
</div>